
/*CSS used on every page*/

/*Home button div*/
.topright {
  position: fixed;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.header_land {
  padding:100px;
  text-align: center;
  background-image: url(resources/home_header.jpeg);
  background-size: cover;
  color: white;
}

/*home page animation*/
.movearea {
  transition: 0.3s background-color ease;
}

/*containers used for columns*/
.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  column-gap: 50px;background-color: #2196F3;
  padding:10px;
}

.grid-container-home {
  display: grid;
  grid-template-columns: 20% 50% auto;
  column-gap: 20px;
  padding:10px;
}

.grid-container-mapping {
  display: grid;
  grid-template-columns: 65% auto;
  column-gap: 50px;background-color: #2196F3;
  padding:5px;
}

.centre {
  text-align: center;
  position: relative;
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
 
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  

  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
 
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }



 
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }


  .container {
    padding: 16px;
  }
  
  
  .modal-signup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  
 
  .modal-content-signup {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
 
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

 
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }


  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }